.outer{
	display: grid;
	grid-template-columns: 1fr 4fr; /* Two columns with equal width */
 	gap: 20px;
	background-color: white;
}

.inner-left{
	padding: 10px;
}

.filter{
	padding: 5px;
}

.inner-right{
	padding: 10px;
}